* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #54eabdff;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header Section Styling */

header {
    padding: .5rem;
    min-height: 3rem;
    width: 100%;
    max-width: 1000px;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
}

.header_company-logo {
    padding: 1rem 4rem;
    background-image: url(../assets/logo/bonz.ai-logo-color-landscape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Burger menu section styling */

input[type="checkbox"] {
    display: none;
}

.header__mobile-menu {
    height: 100%;
}

.header__burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 36px;
    cursor: pointer;
}

.header__burger-btn,
.header__burger-btn::before,
.header__burger-btn::after {
    display: block;
    position: fixed;
    height: 4px;
    border-radius: 2px;
    width: 2rem;
    background-color: var(--primary-color);
    transition: all .5s ease-in-out;
}

.header__burger-btn::before {
    content: "";
    margin-top: -8px;
}

.header__burger-btn::after {
    content: "";
    margin-top: 8px;
}

#burgerToggle:checked+.header__burger-menu .header__burger-btn::before {
    margin-top: 0;
    transform: rotate(45deg);
}

#burgerToggle:checked+.header__burger-menu .header__burger-btn {
    background-color: rgba(84, 234, 189, 0);
}

#burgerToggle:checked+.header__burger-menu .header__burger-btn::after {
    margin-top: 0;
    transform: rotate(-45deg);
}

#burgerToggle:checked~.header__menu-container {
    right: 0;
}

/*  header menu section styling */

.header__menu-container {
    position: fixed;
    top: 3rem;
    right: -100%;
    padding: .5rem 1rem;
    background-color: white;
    box-shadow: -2px 2px .5rem rgba(0, 0, 0, .2);
    transition: all .4s ease-in-out;
}

.header__menu_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header__list-item {
    list-style: none;
    padding: 1rem 0;
}

.header__menu-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.header__menu-link--light {
    color: white;
}

.header__menu-link--active {
    color: var(--primary-color);
}

.header__desktop-menu {
    display: none;
}

/* Hero Section Styling */

.hero {
    height: 92vh;

    background-image: url(..//assets/image/03-night.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .4);
}

.hero__btn-container {
    margin-bottom: 3rem;
    backdrop-filter: blur(2px);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero__btn {
    padding: .8rem 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
}

.hero__btn:hover {
    opacity: .8;
}

.hero__title {
    font-size: 4rem;
    color: white;
    margin-bottom: 20rem;
}

/* Main Section Styling */

.main__devide-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
}

.main__devide-line::before,
.main__devide-line::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 2px;
    background-color: black;
    color: black;
}

.main__devide-image {
    width: 3.5rem;
    margin: 0 3rem;
}

.main__devide-line--primary-bg {
    background-color: var(--primary-color);
}

.main__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
}

.main__text-container {
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
}

.main__color-section {
    background-color: var(--primary-color);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section-title {
    padding: .5rem 0;
}

.main__section-sub-title {
    padding: .5rem 0;
}

.main__card-title {
    padding: .5rem 0;
}

.main__card-title--grid-area {
    grid-area: title;
    text-align: start;
}

.main__card-sub-title {
    padding: .5rem 0;
}

.main__card-sub-title--grid-area {
    grid-area: subTitle;
    text-align: start;
}

.main__description-text {
    margin:2rem 0 3rem;
}

.main__description-text--grid-area {
    grid-area: description;
}

.main__price-text {
    grid-area: price;
    text-align: end;
}

.main__primary-btn {
    border: none;
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 1rem;
    margin: .5rem;
    border-radius: 8px;
}

.main__primary-btn--grid-area:nth-of-type(1) {
    grid-area: btnOne;
}

.main__primary-btn--grid-area:nth-of-type(2) {
    grid-area: btnTwo;
}

.main__secondary-btn {
    margin: 2rem 0;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 12px;
    align-self: flex-end;
}

.main__card-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__card-image--day-one {
    background-image: url(../assets/image/01-day.jpg);
}

.main__card-image--day-two {
    background-image: url(../assets/image/02-day.jpg);
}

.main__card-image--day-three {
    background-image: url(../assets/image/03-day.jpg);
}

.main__card-image--day-four {
    background-image: url(../assets/image/04-day.jpg);
}

.main__card-image--day-five {
    background-image: url(../assets/image/05-day.jpg);
}

.main__card-image--day-six {
    background-image: url(../assets/image/06-day.jpg);
}

.main__card-image--day-seven {
    background-image: url(../assets/image/07-day.jpg);
}

.main__card-image--day-eight {
    background-image: url(../assets/image/08-day.jpg);
}

.main__card-image--day-nine {
    background-image: url(../assets/image/09-day.jpg);
}

.main__card-image--night-one {
    background-image: url(../assets/image/01-night.jpg);
}

.main__card-image--night-two {
    background-image: url(../assets/image/02-night.jpg);
}

.main__card-image--night-three {
    background-image: url(../assets/image/03-night.jpg);
}

.main__card-image--night-four {
    background-image: url(../assets/image/04-night.jpg);
}

.main__card-image--night-five {
    background-image: url(../assets/image/05-night.jpg);
}

.main__card-image--night-six {
    background-image: url(../assets/image/06-night.jpg);
}

.main__card-image--night-seven {
    background-image: url(../assets/image/07-night.jpg);
}

.main__card-image--night-eight {
    background-image: url(../assets/image/08-night.jpg);
}

.main__card-image--night-nine {
    background-image: url(../assets/image/09-night.jpg);
}

.main__high-light {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
    gap: 1rem
}

.main__high-light-card {
    margin: 30px auto 0;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .4);
    padding: 1rem;
}

.main__high-ligt-image {
    width: 100%;
    transform: translateY(-30px);
    border-radius: 8px;
}

.main__booking-room-card {
    width: 100%;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.main__booking-text-container {
    display: grid;
    padding-top: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    grid-template-areas:
        "title price"
        "description description"
        "description description"
        "btnOne btnTwo";
}

/* Booking Section Styling */ 

.booking-form {
    margin: 6rem auto 0;
    width: 100%;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
}

.booking-form__title {
    padding: .5rem 0;
}

.booking-form__sub-title {
    padding: .5rem 0;
}

.booking-form__grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.booking-form__flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
    max-width: 100%;
}

.booking-form__label {
    font-size: 1.2rem;
    margin: .5rem 0 .5rem;
}

.booking-form__input {
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    width: 100%;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .4);
}

/* footer section styling */

.footer__desktop {
    display: none;
}

.footer__content-container {
    padding: 1rem 0;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
    display: grid;
    grid-template-columns: 1fr;
}

.footer__text-content {
    padding: 0 4rem;
}

.footer__menu-link {
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.footer__menu-link::before {
    text-align: center;
    display: block;
}

.footer__logo {
    background-image: url(../assets/logo/bonz.ai-logo-color-portrait-full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem;
}

.footer__title {
    margin: 1rem 0;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__list-item {
    list-style: none;
    margin: .5rem 0;
    list-style: none;
}


@media screen and (min-width: 700px) {

    /* header */

    .header__mobile-menu {
        display: none;
    }

    .header__desktop-menu {
        display: block;
    }

    .header__menu-container {
        position: static;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background-color: transparent;
    }

    .header__menu_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0;
    }

    .header__menu-link {
        padding: 1rem 2rem;
    }

    /* Main */

    .main__devide-line::before,
    .main__devide-line::after {
        width: 40%;
    }

    .main__high-light {
        margin: 3rem 0;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }

    .main__high-light-card {
        margin: 0 auto 0;
    }

    .main__booking-room-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "imgOne txtContainer";
    }

    .main__booking-text-container {
        grid-area: txtContainer;
        padding-left: 1.5rem;
    }

    .main__grid-container {
        gap: 2rem 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "imgOne imgOne ."
            ". imgTwo imgTwo"
            "imgThree imgThree ."
            ". imgFour imgFour"
            "imgL imgL imgL";
    }

    .main__text-container {
        margin-bottom: 0;
    }

    .main__card-image:nth-of-type(1) {
        grid-area: imgOne;
    }
    
    .main__card-image:nth-of-type(2) {
        grid-area: imgTwo;
    }
    
    .main__card-image:nth-of-type(3) {
        grid-area: imgThree;
    }
    
    .main__card-image:nth-of-type(4) {
        grid-area: imgFour;
    }
    
    .main__card-image:nth-of-type(5) {
        grid-area: imgL;
    }

    /* Booking */
    .booking-form {
        margin: 8rem auto 0;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .booking-form__grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .booking-form__flex-container {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        max-width: 100%;
    }

    /* footer */

    .footer__mobile {
        display: none;
    }

    .footer__desktop {
        display: block;
    }

    .footer__content-container {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
}