@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

/* 
font-family: 'Cinzel', serif;
font-family: 'Maven Pro', sans-serif;
*/


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--light-color);
}

:root {
    --primary-color: #54ebbe;
    --dark-color: #081713;
    --medium-color: #e2e4e3;
    --light-color: #FBFDFC;

    --shadow-box: 0 0 .5rem rgba(0, 0, 0, 0.1);
    --shadow-btn: 2px 2px 8px rgba(0, 0, 0, .2);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header Section Styling */

header {
    min-height: 3rem;
    width: 100%;
    max-width: 1000px;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: var(--shadow-box);
}

.header__company-logo {
    padding: 1.5rem 5rem;
    background-image: url(../assets/logo/bonz.ai-logo-color-landscape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Burger menu section styling */

input[type="checkbox"] {
    display: none;
}

.header__mobile-menu {
    height: 100%;
}

.header__burger-menu {
    height: 32px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__burger-btn,
.header__burger-btn::before,
.header__burger-btn::after {
    height: 3px;
    width: 1.8rem;
    display: block;
    position: fixed;
    background-color: var(--light-color);
    mix-blend-mode: difference;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}

.header__burger-btn::before { 
    margin-top: -8px;
    content: "";
}

.header__burger-btn::after {
    margin-top: 8px;
    content: "";
}

#burgerToggle:checked+.header__burger-menu .header__burger-btn::before {
    margin-top: 0;
    transform: rotate(45deg);
}

#burgerToggle:checked+.header__burger-menu .header__burger-btn {
    background-color: rgba(84, 234, 189, 0);
}

#burgerToggle:checked+.header__burger-menu .header__burger-btn::after {
    margin-top: 0;
    transform: rotate(-45deg);
}

#burgerToggle:checked~.header__menu-container {
    right: 0;
}

/*  header menu section styling */

.header__menu-container { 
    padding: .5rem 1rem;
    z-index: 1;
    position: fixed;
    top: 4rem;
    right: -100%;
    text-align: center;
    background-color: var(--light-color);
    box-shadow: var(--shadow-box);
    border-radius: 4px;
    transition: all .5s ease-in-out;
}

.header__menu_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header__list-item {
    list-style: none;
}

.header__menu-link { 
    height: 100%;
    width: 100%;
    padding: 1rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    font-size: .9rem;
    font-family: 'Maven Pro', sans-serif;
    color: var(--dark-color);
}

.header__menu-link:hover {
    text-decoration: underline;
}

.header__menu-link--light {
    color: var(--light-color);
}

.header__menu-link--active {
    color: var(--primary-color);
    font-weight: 700;
}

.header__desktop-menu {
    display: none;
}

/* Hero Section Styling */

.hero {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(..//assets/image/03-night.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow-box);
}

.hero__btn-container {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero__btn {
    padding: .8rem 2rem;
    margin: .5rem;
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--primary-color);
    color: black;
    box-shadow: var(--shadow-btn);
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.hero__btn:hover {
    border: 3px solid var(--dark-color);
    opacity: .8;
}

.hero__title {
    padding: 1rem 2rem;
    margin-bottom: 20rem;
    font-size: 4.5rem;
    font-family: 'Cinzel', serif;
    color: var(--light-color);
}

/* Main Section Styling */
.main {
    max-width: 1000px;
    margin: auto
}

.main--margin {
    margin-top: 6rem
}

.main__divide-line {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.main__divide-line::before,
.main__divide-line::after {
    width: 35%;
    height: 2px;
    display: inline-block;
    content: "";
    background-color: var(--dark-color);
}

.main__divide-image {
    width: 3.5rem;
    margin: 0 3rem;
}

.main__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
}

.main__grid-container--two {
    grid-template-rows: repeat(2, 1fr);
}

.main__text-container {
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-color);    
    box-shadow: var(--shadow-box);
    
}

.main__color-section {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

.main__color-section--large {
    padding: 4rem 2rem 2rem;
}

.main__section-title {
    padding: .5rem 0;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--light-color);
}

.main__section-title--dark {
    color: var(--dark-color);
}

.main__section-sub-title {
    padding: .5rem 0;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light-color);
}

.main__section-sub-title--dark {
    color: var(--dark-color);
}

.main__card-title {
    padding: .5rem 0;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--dark-color);
}

.main__card-title--grid-area {
    grid-area: title;
    text-align: start;
}

.main__card-sub-title {
    padding: .5rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Cinzel', serif;
    color: var(--dark-color);
}

.main__card-sub-title--grid-area {
    grid-area: subTitle;
    text-align: start;
}

.main__description-text {
    max-width: 90%;
    margin: .5rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
}

.main__description-text--grid-area {
    grid-area: description;
    text-align: start;
   
}

.main__description-text--grid-area:nth-of-type(2) {
    grid-area: descriptionTwo;
}

.main__price-text {
    margin: auto 0;
    grid-area: price;
    font-size: .9rem;
    text-align: end;
    color: var(--dark-color);
    opacity: .7;
}

.main__primary-btn { 
    padding: .8rem 2rem;
    margin: .5rem;
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--primary-color);
    color: black;
    box-shadow: var(--shadow-btn);
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.main__primary-btn:hover {
    border: 3px solid var(--dark-color);
    opacity: .9;
}

.main__primary-btn--grid-area:nth-of-type(1) {
    grid-area: btnOne;
}

.main__primary-btn--grid-area:nth-of-type(2) {
    grid-area: btnTwo;
}

.main__secondary-btn {
    padding: .8rem 2rem;
    margin: 2rem;
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: var(--shadow-btn);
    border: 3px solid var(--dark-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.main__secondary-btn:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.main__card-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.main__high-light {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem
}

.main__high-light-card {
    width: 85%;
    padding: 1rem;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: var(--shadow-box);
    border-radius: 8px;
}

.main__high-ligt-image {
    width: 100%;
    transform: translateY(-30px);
    border-radius: 8px;
}

.main__booking-room-card {
    width: 90%;
    padding: 1rem;
    margin: 3rem auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--light-color);   
    box-shadow: var(--shadow-box);
    border-radius: 8px;
}

.main__booking-text-container {
    padding-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "title price"
        "description description"
        "descriptionTwo descriptionTwo"
        "btnOne btnTwo";
    background-color: var(--light-color);
}

.main__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
}

.main__gallery-image {
    height: 100%;
    width: 100%;
}

.main__gallery-image--lake,
.main__gallery-image--mounten,
.main__gallery-image--forrest {
    grid-column: 1 / span 5;
    grid-row: 1;
}
.main__gallery-label {
    transition: all .15s ease-in-out
}

.main__gallery-label:hover {
    cursor: pointer;
    opacity: .7;
}

.main__gallery-label:active {
    transform: scale(.8);
}

.main__gallery-input {
    display: none;
}

/* Booking Section Styling */

.booking-form {
    width: 100%;
    max-width: 1000px;
    margin: 6rem auto 3rem;
    padding: 2rem 2rem 1rem;
    background-color: var(--light-color);
    box-shadow: var(--shadow-box);
    border-radius: 12px;
}

.booking-form__title {
    padding: 1rem 0;
    font-family: 'Cinzel', serif;
    color: var(--dark-color);
}

.booking-form__sub-title {
    padding: 1rem 0;
    font-family: 'Cinzel', serif;
    color: var(--dark-color);
}

.booking-form__cabin-container {
    width: 95%;
    padding: 1rem;
    margin: 1rem auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.booking-form__cabin-container:nth-of-type(2) {
    display: none;
}

.booking-form__cabin-container:nth-of-type(3) {
    display: none;
}

.booking-form__cabin-container:nth-of-type(4) {
    display: none;
}

.booking-form__cabin-container:nth-of-type(5) {
    display: none;
}

.booking-form__grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.booking-form__flex-container { 
    padding: .5rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.booking-form__label {
    width: 40%;
    margin: .5rem 0 .5rem;
    font-size: 1.2rem;
    text-align: center;
    color: var(--dark-color);
}

.booking-form__input {
    width: 60%;
    max-height: 40px;
    padding: .5rem 1rem;
    border: none;
    border-radius: 0 20px 0 20px;
    box-shadow: var(--shadow-box);
}

.booking-form__available-btn {
    padding: .8rem 2rem;
    margin: .5rem;
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--primary-color);
    color: black;
    box-shadow: var(--shadow-btn);
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.booking-form__available-btn:hover {
    border: 3px solid var(--dark-color);
    opacity: .9;
}


/* footer section styling */

.footer__desktop {
    display: none;
}

.footer__content-container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr; 
    box-shadow: var(--shadow-box);
}

.footer__text-content {
    padding: 0 4rem;
}

.footer__menu-link {
    margin: 0 auto;
    text-decoration: none;
    color: var(--dark-color);
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__menu-link::before {
    display: block;
    text-align: center;
}

.footer__logo {
    padding: 2rem;
    background-image: url(../assets/logo/bonz.ai-logo-color-portrait-full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.footer__title {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Cinzel', serif;
    color: var(--dark-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__list-item {
    margin: .5rem 0;
    font-size: .9rem;
    list-style: none;
    font-family: 'Maven Pro', sans-serif;
    color: var(--dark-color);
}

/* Images */
.main__card-image--day-one {
    background-image: url(../assets/image/01-day.jpg);
}

.main__card-image--day-two {
    background-image: url(../assets/image/02-day.jpg);
}

.main__card-image--day-three {
    background-image: url(../assets/image/03-day.jpg);
}

.main__card-image--day-four {
    background-image: url(../assets/image/04-day.jpg);
}

.main__card-image--day-five {
    background-image: url(../assets/image/05-day.jpg);
}

.main__card-image--day-six {
    background-image: url(../assets/image/06-day.jpg);
}

.main__card-image--day-seven {
    background-image: url(../assets/image/07-day.jpg);
}

.main__card-image--day-eight {
    background-image: url(../assets/image/08-day.jpg);
}

.main__card-image--day-nine {
    background-image: url(../assets/image/09-day.jpg);
}

.main__card-image--night-one {
    background-image: url(../assets/image/01-night.jpg);
}

.main__card-image--night-two {
    background-image: url(../assets/image/02-night.jpg);
}

.main__card-image--night-three {
    background-image: url(../assets/image/03-night.jpg);
}

.main__card-image--night-four {
    background-image: url(../assets/image/04-night.jpg);
}

.main__card-image--night-five {
    background-image: url(../assets/image/05-night.jpg);
}

.main__card-image--night-six {
    background-image: url(../assets/image/06-night.jpg);
}

.main__card-image--night-seven {
    background-image: url(../assets/image/07-night.jpg);
}

.main__card-image--night-eight {
    background-image: url(../assets/image/08-night.jpg);
}

.main__card-image--night-nine {
    background-image: url(../assets/image/09-night.jpg);
}

/* Radio button image Change */

#lakeOne:checked~.main__gallery-image--lake {
    content: url("../assets/image/01-day.jpg");
}

#lakeTwo:checked~.main__gallery-image--lake {
    content: url("../assets/image/02-day.jpg");
}

#lakeThree:checked~.main__gallery-image--lake {
    content: url("../assets/image/03-day.jpg");
}

#lakeFour:checked~.main__gallery-image--lake {
    content: url("../assets/image/04-day.jpg");
}

#lakeFive:checked~.main__gallery-image--lake {
    content: url("../assets/image/05-day.jpg");
}

#lakeSix:checked~.main__gallery-image--lake {
    content: url("../assets/image/06-day.jpg");
}

#lakeSeven:checked~.main__gallery-image--lake {
    content: url("../assets/image/07-day.jpg");
}

#lakeEight:checked~.main__gallery-image--lake {
    content: url("../assets/image/08-day.jpg");
}

#lakeNine:checked~.main__gallery-image--lake {
    content: url("../assets/image/09-day.jpg");
}

#mountenOne:checked~.main__gallery-image--mounten {
    content: url("../assets/image/01-night.jpg");
}

#mountenTwo:checked~.main__gallery-image--mounten {
    content: url("../assets/image/02-night.jpg");
}

#mountenThree:checked~.main__gallery-image--mounten {
    content: url("../assets/image/03-night.jpg");
}

#mountenFour:checked~.main__gallery-image--mounten {
    content: url("../assets/image/04-night.jpg");
}

#mountenFive:checked~.main__gallery-image--mounten {
    content: url("../assets/image/05-night.jpg");
}

#mountenSix:checked~.main__gallery-image--mounten {
    content: url("../assets/image/06-night.jpg");
}

#mountenSeven:checked~.main__gallery-image--mounten {
    content: url("../assets/image/07-night.jpg");
}

#mountenEight:checked~.main__gallery-image--mounten {
    content: url("../assets/image/08-night.jpg");
}

#mountenNine:checked~.main__gallery-image--mounten {
    content: url("../assets/image/09-night.jpg");
}

#forrestOne:checked~.main__gallery-image--forrest {
    content: url("../assets/image/01-day.jpg");
}

#forrestTwo:checked~.main__gallery-image--forrest {
    content: url("../assets/image/02-day.jpg");
}

#forrestThree:checked~.main__gallery-image--forrest {
    content: url("../assets/image/03-day.jpg");
}

#forrestFour:checked~.main__gallery-image--forrest {
    content: url("../assets/image/04-day.jpg");
}

#forrestFive:checked~.main__gallery-image--forrest {
    content: url("../assets/image/05-day.jpg");
}

#forrestSix:checked~.main__gallery-image--forrest {
    content: url("../assets/image/06-day.jpg");
}

#forrestSeven:checked~.main__gallery-image--forrest {
    content: url("../assets/image/07-day.jpg");
}

#forrestEight:checked~.main__gallery-image--forrest {
    content: url("../assets/image/08-day.jpg");
}

#forrestNine:checked~.main__gallery-image--forrest {
    content: url("../assets/image/09-day.jpg");
}

/* images End */

@media screen and (min-width: 700px) {

    /* header */

    .header__mobile-menu {
        display: none;
    }

    .header__desktop-menu {
        display: block;
    }

    .header__menu-container {
        position: static;
        background-color: transparent;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    .header__menu_list { 
        padding: 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Main */

    .main--margin {
        margin-top: 8rem;
    }

    .main__divide-line::before,
    .main__divide-line::after {
        width: 40%;
    }

    .main__high-light {
        margin: 3rem 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .main__high-light-card {
        width: 100%;
        margin: 0 auto 0;
    }

    .main__high-light-card--large {
        margin: 1rem 0;
        grid-column: auto / span 2;
    }

    .main__section-title {
        grid-column: auto / span 2;
    }

    .main__booking-room-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "imgOne txtContainer";
    }

    .main__booking-text-container {
        padding-left: 1.5rem;
        grid-area: txtContainer;
    }

    .main__grid-container {
        gap: 2rem 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "imgOne imgOne ."
            ". imgTwo imgTwo"
            "imgThree imgThree ."
            ". imgFour imgFour"
            "imgL imgL imgL";
    }

    .main__grid-container--two {
        grid-template-areas:
            "imgOne imgOne ."
            ". imgTwo imgTwo"
    }

    .main__grid-container--two:last-of-type {
        margin-bottom: 2rem;
    }

    .main__gallery:last-child {
        margin-bottom: 2rem;
    }

    .main__text-container {
        margin-bottom: 0;
    }

    .main__card-image:nth-of-type(1) {
        grid-area: imgOne;
    }

    .main__card-image:nth-of-type(2) {
        grid-area: imgTwo;
    }

    .main__card-image:nth-of-type(3) {
        grid-area: imgThree;
    }

    .main__card-image:nth-of-type(4) {
        grid-area: imgFour;
    }

    .main__card-image:nth-of-type(5) {
        grid-area: imgL;
    }

    /* Booking */

    .booking-form {
        margin: 8rem auto 3rem;
        padding-bottom: .1rem;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .booking-form__grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* footer */

    .footer__mobile {
        display: none;
    }

    .footer__desktop {
        display: block;
    }

    .footer__content-container {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
}